body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    background-color:#283593;

    main {
     
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 98%;

        .table-column {

            text-align: center;
            margin: 0 20%;
            width: 60%;
            margin-top: 1rem;
            transition: all .5s;

            table {
        
                border-radius: .4rem;
                overflow: hidden;
                margin: 0 auto;
                width: 100%;
        
                tr {
        
                    &:nth-child(odd) {
                        background-color: #f7f7f7;
                    }
        
                    &:nth-child(even) {
                        background-color: #dadbdb;
                    }
        
        
                    td, th {
                        padding: 2% 0;
                    }
                    
                    td {
                        box-shadow: 0 2px 2px -2px #0E1119;
                        color:#8d8b91;
                        font-weight: normal;
                        font-size: 1em;
                        text-align: center;
                        -webkit-box-shadow: 0 2px 2px -2px #0E1119;
                        -moz-box-shadow: 0 2px 2px -2px #0E1119;
        
                        &:hover {
                            background-color: #5f5fc4;
                            color: #fff;
                        }
                    }
            
                    th {
                        background-color: #112175;
                        color: #fff;
                        font-size: 1.2em;
                        font-weight: bold;
                    }
        
                    .edit-button, .delete-button {
        
                        cursor: pointer;
                        margin: auto;
                        width: max-content;
        
                        svg {
                            height: 1.4rem;
                            width: 1.4rem;
                        }
                    }
                }
            }

            &.active {
                margin-left: 0;
                width: 50%;
                transition: all .5s;
            }
        }
        
        .form-column {

            position: absolute;
            left: 150rem;
            top: 1rem;
            transition: left 1s;
            width: 50%;


            .form {
        
                background-color: #1e2f83;
                border-radius: .4rem;
                left: 150;
                margin-top: .6rem;
                padding: .5rem 10%;
                width: 70%;
                
                form {
            
                    margin: .1rem 0;
                    width: 100%;
        
                    .field {
                        
                        margin-top: .5rem;
        
                        input {
                        
                            background-color: #5f5fc4;
                            border: none;
                            border-radius: .2rem;
                            color: #fff;
                            outline: none;
                            padding: .2rem .5rem;
                            width: 95%;
        
                            &:hover {
                                background-color: #7171ce;
                            }
                        }
            
                        label {
                            color: #fff;
                            font-weight: bold;
                            width: 100%;
                        }
                    }
        
                    .textarea {
                        
                        text-align: center;
                        margin-top: .7rem;
                        
                        
                        label {
                            color: #fff;
                            font-weight: bold;
                            width: 100%;
                        }
        
                        textarea {
        
                            background-color: #5f5fc4;
                            border: none;
                            border-radius: .2rem;
                            color: #fff;
                            height: 13vh;
                            outline: none;
                            padding: .2rem .5rem;
                            resize: none;
                            width: 80%;
        
                            
                            &:hover {
                                background-color: #7171ce;
                            }
                        }
                    }

                    .submit-button {
        
                        text-align: right;
                        margin-top: .5rem;
        
                        button {
                            background-color: #5f5fc4;
                            border-radius: .2rem;
                            border: none;
                            color: #fff;
                            cursor: pointer;
                            font-weight: bold;
                            padding: .3rem .7rem;
                            width: max-content;
                        }
                    }
                }
            }
            
            &.active {
                left: 55%;
                transition: left .3s ease;
                width: 48%;
            }
        }
    }
}